.button {
  color: #005282;
  border: 1px solid #005282;
  border-radius: 4px;
  padding: 3px 8px;
  border-radius: 2px;
  font-size: inherit;
  font-family: inherit;
  background-color: transparent;
  cursor: pointer;
  outline: none;
  height: 26px;

  &:hover,
  &:focus {
    background-color: #ddeaff;
  }

  &:disabled {
    cursor: not-allowed;
    opacity: 0.8;
    background-color: transparent;
  }

  .spinner:after {
    width: 18px;
    height: 18px;
    border-width: 2px;
  }

  &.loading {
    .button-text {
      height: 0;
      overflow: hidden;
    }
  }
}