@content-max-width: 600px;

@text-color: var(--text-color);
@page-background: var(--page-background);

@primary-color: var(--primary-color);
@primary-color-light: var(--primary-color-light);
@secondary-color: var(--secondary-color);

