.words-list {
  .word {
    margin: 0 4px;
    padding: 8px 4px;
    cursor: pointer;
    -webkit-tap-highlight-color: transparent;
    overflow-wrap: break-word;

    &:not(:last-child) {
      border-bottom: 1px dashed gray;
    }
    &:hover {
      background-color: #f4f4f4;
    }
  }

  .word-text {
    font-weight: bold;
  }
}