.word-actions {
  .button {
    display: block;
    margin: 8px auto;
    width: 100%;
    max-width: 170px;
    padding-left: 15px;
    padding-right: 15px;
    &:first-child {
      margin-top: 0;
    }
    &:last-child {
      margin-bottom: 0;
    }
  }
}